{% extends 'base.html.twig' %}

{% block title %}Creation d'une piece{% endblock %}



{% block javascripts %}
    <script language="JavaScript" type="text/javascript" src="{{ asset('JS/jquery.min.js') }}"></script>
    <script type='text/javascript'>
        function previewFile() {
            var preview = document.getElementById('output_image');
            var file = document.querySelector('input[type=file]').files[0];
            var reader = new FileReader();
            reader.addEventListener("load", function() {
                console.log('before preview');
                preview.src = reader.result;
                console.log('after preview');
            }, false);

            if (file) {
                console.log('inside if');
                reader.readAsDataURL(file);
            } else {
                console.log('inside else');
            }
            }
    </script>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('enseignant/imgareaselect-default.css') }}"/>
    <link rel="stylesheet" href="{{ '/css/objet.css' }}"/>

{% endblock %}

{% block main %}
<div class="background2">
    {{ form_start(form) }}

    <div class="form-row">
        <div class="form-group col-md-6 ">
        <label>Nom</label>
        {{ form_widget(form.nomSalle) }}
        </div>
        <div class="form-group col-md-6">
        <label>Image</label>
        {{ form_widget(form.imagesalle) }}
        <img id="output_image" style="max-width:100px; margin:10px;"/>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
        <label>Description</label>
        {{ form_widget(form.descriptsalle) }}
        </div>
    </div>
    {{ form_widget(form.save) }}

    {{ form_end(form) }}
</div>

    {% if error is defined %}
    <div class="alert alert-success" role="alert" style="margin:10px;">
        {{ error }}
    </div>
    {% endif %}
{% endblock %}
