{% extends 'base.html.twig' %}

{% block title %}Creation d'une piece{% endblock %}

{% block javascripts %}
    <script language="JavaScript" type="text/javascript" src="{{ asset('JS/jquery.min.js') }}"></script>
    <script language="JavaScript" type="text/javascript" src="{{ asset('JS/jquery.imgareaselect.pack.js') }}"></script>
    <script language="JavaScript" type="text/javascript" src="{{ asset('JS/selectZone.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('enseignant/imgareaselect-default.css') }}"/>
    <link rel="stylesheet" href="{{ asset('enseignant/design.css') }}" />
{% endblock %}

{% block main %}
    <div id="ajoutObjet">
        <div id="img">
        
        {% if imageName is not null %}
            <img src="{{ asset('picsStorage/'~imageName) }}" width="500" height="500">
        {% else %}
            <img  src="{{ asset('enseignant/img/roomview.png') }}" width="500" height="500">
        {% endif %}

            <canvas id="room" width="500" height="500" style="border:1px solid #d3d3d3;"></canvas>

            <script>
                window.onload = function() {
                    var c = document.getElementById("room");
                    var ctx = c.getContext("2d");
                    ctx.fillStyle = "red";
                    let x;
                    let y;
                    let rx;
                    let ry;
                    {% for obj in lsObj %}
                        {% set coord = obj['coordobjet'] |split(',') %}
                        x = {{ coord[0] }};
                        y = {{ coord[1] }};
                        rx = {{ coord[2] }};
                        ry = {{ coord[3] }};
                        ctx.fillStyle = "rgba(50,205,50,0.8)";
                        ctx.fillRect(x, y, rx-x, ry-y);
                        ctx.fillStyle = "#000000";
                        ctx.font="bold 14px serif";
                        ctx.textAlign="center"; 
                        ctx.fillText("{{ obj['nomobjet'] }}", x+((rx-x) / 2), y+((ry-y) /2))
                    {% endfor %}
                }
            </script>

        </div>

        <div id="formulaire">
            {{ form_start(form) }}
            {{ form_widget(form.x1) }}
            {{ form_widget(form.y1) }}
            {{ form_widget(form.x2) }}
            {{ form_widget(form.y2) }}
            <div class="form-group">
                <label>Objet</label>
                {{ form_widget(form.idobjet) }}
            </div>
            {{ form_widget(form.saveObj) }}
            {{ form_end(form) }}
        </div>
    </div>

    {% for msg in app.session.flashBag.get('success') %}
        <div class="alert alert-success">
            {{ msg }}
        </div>
    {% endfor %}

    {% if error is defined and errortype is defined %}
    <div class="alert alert-{{ errortype }}" role="alert" style="margin:10px;">
        {{ error }}
    </div>

    

    {% endif %}
{% endblock %}