{% extends 'base.html.twig' %}

{% block title %}Hello !{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ '/css/supprimerPiece.css' }}"/>

{% endblock %}
{% block main %}
<div id="tableau">
    {{ form_start(form) }}
       <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nom de la piece</th>
                        <th scope="col">Selectionner</th>
                    </tr>
                </thead>
                <tbody>
                    {% set id = -1 %}
                    {% for child in form.idsalle %}
                        {% set id = id + 1 %}
                        <tr>
                            <th scope="row">{{ lsSal[id].idsalle }}</th>
                            <td>{{ lsSal[id].getNomsalle }}</td>
                            <td>{{ form_widget(child) }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {{ form_widget(form.save) }}
    {{ form_end(form) }}
</div>
{% endblock %}
