{% extends 'base.html.twig' %}

{% block title %}Hello !{% endblock %}

{% block main %}

<center>
  <div class="btn-group" role="group" style="margin:10px;">
    <button type="button" class="btn btn-primary" onclick="location.href='/enseignant/piece/add'">Ajouter une salle</button>
    <button type="button" class="btn btn-danger" onclick="location.href='/enseignant/piece/remove'">Supprimer les salles</button>
  </div>
</center>

<div class="card-columns">
{% for salle in lsSalle %}
  <div class="card text-white bg-dark">
  {% if salle.getImagesalle is not null %}
    <img class="card-img-top" src={{ asset('picsStorage/'~salle.getImagesalle) }} alt="Card image cap">
  {% else %}
    <img class="card-img-top" src={{ asset('enseignant/img/roomview.png') }} alt="Card image cap">
  {% endif %}
    <div class="card-body">
      <a href="/enseignant/piece/see/{{ salle.getIdsalle }}"><h5 class="card-title">{{ salle.getNomsalle }}</h5></a>
      <p class="card-text">{{ salle.getDescriptsalle }}</p>
      <button type="button" class="btn btn-secondary btn-block btn-sm" onclick="location.href='/enseignant/piece/update/{{ salle.getIdsalle }}'">Modifier la salle</button>
    </div>
  </div>
{% endfor %}
</div>

{% endblock %}
