body
{
    font-family: sans-serif;

      background: linear-gradient(
          rgba(0, 0, 0, 0.45), 
          rgba(0, 0, 0, 0.45)
        ),url('/fond_eleve.jpg') no-repeat center center fixed;
      background-size:cover;;
      height: 100vh;
      color: white;
      
}

#main
{
    margin-top: 5em; 
}

#dragThis {
    width: 8em;
    height: 8em;
    padding: 0.5em;
    border: 3px solid #ccc;
    border-radius: 0 1em 1em 1em;
    background-color: #fff;
    background-color: rgba(255,255,255,0.5);
}

#dropHere {
    width: 20em;
    height: 20em;
    padding: 0.5em;
    border: 3px solid #f90;
    border-radius: 1em;
    margin: 0 auto;
}

.lsEnigme>li
{
  list-style:none;
}

.box>ul
{
    list-style:none;
    margin-left:0;
    padding-left:0;
    color: white;
}

.box {
    height: 100px;
    width: 100px;
    background-color: black;
    position: relative;
    top: 5px;
    left: 5px;
    cursor: pointer;
  }
  
  .held {
    border: solid 10px black;
    background-color: black;
  }
  
  .holder {
    height: 110px;
    width: 110px;
    margin: 10px;
    border: solid 5px black;
    background-color: white;
    display: inline-block;
  }
  
  .hovered {
    border: dotted 5px black;
  }
  
  .invisible {
    display: none;
  }
  
  #container {
    margin: auto;
    top: 100px;
    width: 400px;
    position: relative;
  }

  #editRoom
  {
    display: flex;
    flex-wrap: wrap;
  }

  #dropZone
  {
    flex: 1 1 60%;
    display: flex;
    flex-wrap: nowrap;
  }

  #lsObject
  {
    margin: 20px;
    flex: 1 1 20%;
    display: flex;
    flex-wrap: wrap;
  }

  .dragElement
  {
    background-color: red;
  }

  .label-file {
    padding: 10px;
      cursor: pointer;
      color:white;
      background-color: #F7230C;
      font-weight: bold;
  }
  .label-file:hover {
      color: black;
  }
  
  .input-file {
      display: none;
  }
  
  #room {position:absolute;z-index:1;}

  #img
  {
    display:inline-block;
    width:500px; 
    height:500px;
    margin: 0 auto; 
    position:relative; 
    border-radius: 10px; 
  }

  #myCanvas
  {
    position:relative;
    z-index:20;
  }

  .img-fluid {
    height: 200px;
    width: 200px;
  }

  .active{
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    
  }