

h1{
  color: white;
  text-align: center;
  Font-Weight: Bold;
}

.stat {
border-radius: 10px;
background-color: #040404cc;
color: white;
margin: 30px;
padding: 20px;
width: 1100px;
display: block;
max-height: 600px;
overflow-y: auto;
-ms-overflow-style: -ms-autohiding-scrollbar;
}

#bouton{
  height: 40px;
  margin-top: 5%;
  margin-left: 3%;
}
