{% extends 'base.html.twig' %}

{% block title %}Ajout d'un groupe{% endblock %}

{% block stylesheets %}

    <link rel="stylesheet" href="{{ asset('css/gestionTab5.css') }}" />
    
{% endblock %}

{% block main %}

    <script>
	console.log("hello");
	function Choix(id){
	
	document.getElementById("form_EtudiantPush").value=id.value;
	}
	function Chkbox(id){
	
	
	
	var select = document.getElementById("form_EtudiantPush1");
	if(id.checked == true){
    
    var chaine1="id";
    var chaine2=id.value;
    console.log(chaine2);
    console.log(id.value)
    var texte = document.getElementById(chaine1.concat(chaine2));
    
    select.options[select.options.length] = new Option (texte.textContent, id.value);
	
	console.log(chaine1.concat(chaine2));}
	else{
	for (var i = 0; i < select.length; i++) {
	if(select[i].value==id.value){
    select.removeChild(select[i]);
    }
}
	}
	console.log(select);
	}

 </script>
    
    
    
    <div id="tab">
    
    {{ form_start(form) }}
    <label for="form_nomvend">Nom du Groupe</label>
    {{ form_widget(form.monGroupe) }}
    {{ form_widget(form.EtudiantPush) }}
        <div class="tab3">
            <table class="table table-hover">
                <thead>
                    <tr>
						<th scope="col">Selectionner</th>
                        <th scope="col" data-toggle="tooltip" title="Hooray!  b">Nom De l'étudiant</th>
                        <th scope="col" data-toggle="tooltip" title="Hooray!  b">Classe</th>
                        
                    </tr>
                </thead>
                <tbody >
                    {% set id = -1 %}
                    {% for child in form.netu %}
                        {% set id = id + 1 %}
                        <tr>
							<td>{{ form_widget(child,{'attr': {'onclick': 'Chkbox(this)'}}) }}</td>
                            <td id={{"id" ~ lsEtudiant[id].getNetu}}>{{lsEtudiant[id].getIdpers.getNom}}  {{lsEtudiant[id].getIdpers.getPrenom}}</td>
                            <td>{{lsEtudiant[id].getClasse}}</td> 
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
   
    <label for="form_nomvend">Le chef du groupe</label>
        <select id="form_EtudiantPush1" name="form[EtudiantPush1]" class="form-control" onclick="Choix(this)">
    </select>
    {{ form_widget(form.save) }}
    {{ form_end(form) }}
</div>

    
{% endblock %}
