{% extends 'base.html.twig' %}

{% block title %}Information sur le Devoir {{ infos[0]['nomDev'] }}{% endblock %}
{% block stylesheets %}
  <link rel="stylesheet" href="{{ '/css/infosDevoir.css' }}"/>
{% endblock %}
{% block main %}


<section>
    <div id="infosEtu">
        <h1 class="d-inline-block text-truncate"><b>Informations générales</b></h1>
        <h1 class="d-inline-block text-truncate"><b>Nom:</b>   {{infos[0]['nomDev']}}</h1> 
        <h1 class="d-inline-block text-truncate"><b>Matiere:</b>   {{ infos[0]['nommat'] }}</h1> 
        <h1 class="d-inline-block text-truncate"><b>Statut:</b>   {{ infos[0]['statut'] }}</h1> 
        <h1 class="d-inline-block text-truncate"><b>Date de fermeture:</b>   {{ infos[0]['date'] }}</h1> 
        <h1 class="d-inline-block text-truncate"><b>Nombre de groupe:</b>   {{ infos[0]['nbgroupe'] }}</h1> 
        <h1 class="d-inline-block text-truncate"><b>Nombre de personnes par groupe:</b>   {{ infos[0]['nbpersonnegroupe'] }}</h1> 
    </div>
    
    <div id="tableauEnigmes">
        <h1> Liste des énigmes utilisées:</h1>
      <table class="fixed_header">
        <thead>
          <tr>
            <th class="petit">Nom</th>
            <th class="petit">Niveau</th>
            <th class="grand">Question</th>
            <th class="petit">Solution</th>
          </tr>
        </thead>
        <tbody>
        {% for enigme in listeEnigmes %}
          <tr>
            <td class="petit">{{enigme['nomEnigme']}}</td>
            <td class="petit">{{enigme['niveau']}}</td>
            <td class="grand">{{enigme['question']}}</td>
            <td class="petit">{{enigme['solution']}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div id="tableauGroupes">
        <h1> Liste des groupes participants:</h1>
      <table class="fixed_header">
        <thead>
          <tr>
            <th class="grand">Groupe</th>
            <th class="petit">Chef</th>
          </tr>
        </thead>
        <tbody>
        {% for groupe in listeGroupes %}
          <tr>
            <td class="petit">{{groupe['nomGroupe']}}</td>
            <td class="petit">{{groupe['nom']}} {{groupe['prenom']}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div id ="tableauSalles">
        <h1> Liste des salles utilisées:</h1>
      <table class="fixed_header">
        <thead>
          <tr>
            <th class="petit">Nom</th>
            <th class="petit">Description</th>
          </tr>
        </thead>
        <tbody>
        {% for salle in listeSalles %}
          <tr>
            <td class="petit">{{salle['nomsalle']}}</td>
            <td class="petit">{{salle['descriptsalle']}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    
</section>
{% endblock %}