{% extends 'base.html.twig' %}

{% block title %}suppresion des etudiant{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ '/css/generation2.css' }}"/>
{% endblock %}


{% block main %}
<div id="tab">
    {{ form_start(form) }}
		<div class="form-group row">
             <label for="form_nomvend">Nombre d'édudiant par Groupe</label>
               {{ form_widget(form.nbGroupe) }}
         </div>
		<div class="table-responsive tab">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Premon</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Selectionner</th>
                    </tr>
                </thead>
                <tbody>
                    {% set id = -1 %}
                    {% for child in form.netu %}
                        {% set id = id + 1 %}
                        <tr>
                            <th scope="row">{{ lsEtudiant[id].getIdpers.getNom }}</th>
                            <td>{{ lsEtudiant[id].getIdpers.getPrenom }}</td>
                            <td>{{ form_widget(child) }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {{ form_widget(form.save) }}
    {{ form_end(form) }}
</div>
{% endblock %}
