{% extends 'base.html.twig' %}

{% block title %}Gestion des eleve{% endblock %}

{% block javascripts %}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('enseignant/imgareaselect-default.css') }}"/>
    <link rel="stylesheet" href="{{ asset('enseignant/design.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/gestionTab.css') }}" />
   
{% endblock %}

{% block main %}


{% for msg in app.session.flashBag.get('success') %}
  <div class="alert alert-success">
    {{ msg }}
  </div>
{% endfor %}
<div id="tab">
    {{ form_start(form) }}
        <div class="table-responsive tab">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Select</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Prenom</th>
                        <th scope="col">Classe</th>
                        <th scope="col">Cycle</th>
                        
                    </tr>
                </thead>
            
                <tbody >
                    {% set id = -1 %}
                    {% for child in form.netu %}
                        {% set id = id + 1 %}
                        <tr>
                            <td>{{ form_widget(child) }}</td>
                            <td>{{ lsEleve[id].getIdpers.getNom }}</td>
                            <td>{{ lsEleve[id].getIdpers.getPrenom }}</td>
                            <td>{{ lsEleve[id].getClasse }}</td>
                            <td>{{ lsEleve[id].getDatec }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {{ form_widget(form.delete) }}
    {{ form_widget(form.ajout) }}
    {{ form_widget(form.pass) }}
    {{ form_end(form) }}
</div>

    
{% endblock %}
