{% extends 'base.html.twig' %}

{% block title %}gestion des énigmes{% endblock %}

{% block javascripts %}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('enseignant/imgareaselect-default.css') }}"/>
    <link rel="stylesheet" href="{{ asset('enseignant/design.css') }}" />
     <link rel="stylesheet" href="{{ asset('css/gestionTab2.css') }}" />
   
{% endblock %}

{% block main %}
    <form name="form" method="post" class="tabMat">
        <div class="table-responsive ">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Select</th>
                        <th scope="col">Nom</th>
                        
                    </tr>
                </thead>
                <tbody>
                    {% set id = -1 %}
                    {% for child in form.idmat %}
                        {% set id = id + 1 %}
                        <tr>
                            <td>{{ form_widget(child) }}</td>
                            <td>{{ lsMatiere[id].getNommat }}</td>
                            </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {{ form_widget(form.delete) }}
    {{ form_end(form) }}


<div class="form">
    {{ form_start(form2) }}
     <label for="form_nomvend">Le nom de la matière</label>    
    {{ form_widget(form2.nom) }}
    {{ form_widget(form2.ajout) }}
    {{ form_end(form2) }}
</div>

    
{% endblock %}
