{% extends 'base.html.twig' %}

{% block title %}Modification d'une énigmes{% endblock %}

{% block javascripts %}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('enseignant/imgareaselect-default.css') }}"/>
    <link rel="stylesheet" href="{{ asset('enseignant/cssEnigme.css') }}" />

   
{% endblock %}

{% block main %}

    <div class="miseEnPage">
    {{ form_start(form) }}
        <div><p>Le nom de l'énigme :</p>
        {{ form_widget(form.nomEnigme) }}</div>

        <div><p>Le nombre de point maximum de l'énigme :</p>
        {{ form_widget(form.maxPoint) }}</div>
        
        <div><p>La question de l'énigme :</p>
        {{ form_widget(form.question) }}</div>
        
        <div><p>La solution de l'énigme :</p>
        {{ form_widget(form.solution) }}</div>
        
        <div><p>Le niveau de l'énigme :</p>
        {{ form_widget(form.niveau) }}</div>

        <div><p>La matière de l'énigme</p>
        {{ form_widget(form.idmat) }}</div>

        <div>{{ form_widget(form.create) }}</div>

    {{ form_end(form) }}
    </div>

{% endblock %}
