

section{
    display: flex;
    flex-wrap: wrap;
}

h1{

    font-size: 20px;
    color: white;
    width: 420px;
    max-width: 420px;
    word-wrap: break-word;
}

#infosEtu{
    margin-top: 5%;
    margin-left: -5%;
    padding: 20px;
    -webkit-border-radius: 10px;
    width: 40%;
    max-height: 200px;
    background-color: #040404cc;
}

#tableauDM{
    -webkit-border-radius: 10px;
    width: 65%;
    padding: 10px;
    background-color: #040404cc;
    margin: 2%;
    margin-right: -5%;
    height: 550px;
}

.fixed_header{
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    overflow: hidden;
}

.fixed_header tbody{
  color: white;
  display:block;
  width: 100%;
  overflow: auto;
  height: 500px;
  
}

.fixed_header thead tr {
   display: block;
   -webkit-border-radius: 20px;
}

.fixed_header thead {
  background: rgb(56, 56, 56);
  color:#fff;
}

.fixed_header th{
  text-align: center;

}

.fixed_header td{
    text-align: center;
    padding-top: 5%
  }

.petit {
    width: 15%
}

.grand {
    width: 300em
}