thead, tbody, tr, td, th { display: block; }

    tr:after {
        content: ' ';
        display: block;
        visibility: hidden;
        clear: both;
    }

    tbody {
        height: 400px;
        overflow-y: auto;
    }

    tbody td, thead th {
        width: 45%;
        float: left;
    }

.tabMat{
    border-radius: 10px;
background-color: #040404cc;
color: white;
width: 40%;
padding: 20px;
display: block;
max-height: 600px;
overflow-y: auto;
-ms-overflow-style: -ms-autohiding-scrollbar;
flex: 1 0 40%;
order: 0;

}
#main{
    flex-direction: row;
    display: flex;
    

}
.form{

    align-items: center;
    flex-direction: column;
    flex: 0 1 20%;
    text-align: center;
    margin: 5px;
    padding: 5px;
    order :1;
}


