thead, tbody, tr, td, th { display: block; }

    tr:after {
        content: ' ';
        display: block;
        visibility: hidden;
        clear: both;
    }

    tbody {
        height: 400px;
        overflow-y: auto;
    }

    tbody td, thead th {
        width: 19.2%;
        float: left;
    }

.tab{
    border-radius: 10px;
background-color: #040404cc;
color: white;
margin: 30px;
padding: 20px;

display: block;
max-height: 600px;
overflow-y: auto;
-ms-overflow-style: -ms-autohiding-scrollbar;

}

.tab2{
    border-radius: 10px;
background-color: #040404cc;
color: white;
margin: 10px;

display: block;
max-height: 600px;
overflow-y: auto;
-ms-overflow-style: -ms-autohiding-scrollbar;

}
