.colonne{
    width: 102%;
    height: 80%;
    overflow-y: auto;
}

.marge{
    margin:20px;
}

#output_image{
    max-width:100px; margin:10px;
}

label{
    color: white;
}

.background{
    background-color: #040404cc;
    -webkit-border-radius: 20px;
}

.background2{
    background-color: #040404cc;
    -webkit-border-radius: 20px;
    padding: 2%;
}

.separation{
    border-bottom-color: white;
}

.flex{
    display: flex;
}


.boite{
    width: 40%;
    margin-right: 5%;
    margin-left: 5%;
    padding: 0.5%;
}

.flexcol{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-left: 5%;
}

.boite2{
    width: 80%;
    margin-right: 5%;
    margin-left: 5%;
    padding: 0.5%;
}

.bouton{
    margin-left: 40%
}