{% extends 'base.html.twig' %}

{% block title %}Les contenus{% endblock %}

{% block main %}
<style>
div{
    color : black;
}
</style>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
   
    <div class="d-flex flex-row">
        <div class="d-flex flex-column">
            {% if image is not null %}
                <img usemap="#contenu" src="{{ asset('picsStorage/objets/'~image) }}" width="500" height="500">
            {% else %}
                <img usemap="#contenu" src="{{ asset('enseignant/img/objectview.png') }}" width="500" height="500">
            {% endif %}
            <map name="contenu" id="contenu">
                {% for obj in objet %}
                    <area shape="rect" coords="{{ obj.coordobjet2 }}" href="#zone{{ obj.idobjetInferieur }}" data-toggle="modal" alt="Contact" />

                    <div class="modal fade" id="zone{{ obj.idobjetInferieur }}" tabindex="-1" role="dialog" aria-labelledby="{{ obj.idobjetInferieur }}" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="zone{{ obj.idobjetInferieur }}">{{ obj.nomobjet }}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            {% if obj.imageobjet is not null %}
                                <img class="img-fluid" src="{{ asset('picsStorage/objets/'~obj.imageobjet) }}">
                            {% else %}
                                <img class="img-fluid" src="{{ asset('enseignant/img/roomview.png') }}">
                            {% endif %}
                            <ul class="lsEnigme">
                            {% set value = 0 %}
                            {% for enigme in lsenigme %}
                                {% if enigme.getIdobjet.idobjet == obj.idobjet %}
                                    {% set value = value + 1 %}
                                    <li>
                                        <h2>{{ enigme.getIdenigme.getNomenigme }}</h2>
                                        <p>{{ enigme.getIdenigme.question }}</p>
                                    </li>
                                {% endif %}
                            {% endfor %}
                            {% if value == 0 %}
                                <h4 style="margin:10px">Il n'y a pas d'enigmes ici</h4>
                            {% endif %}
                            </ul>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                        </div>
                        </div>
                    </div>
                    </div>
                {% endfor %}
            </map>
        </div>

        <div class="d-flex flex-column" style="margin-left:10px">
            <button type="button" class="btn btn-secondary btn-lg btn-block" onclick="location.href='/etudiant/partie/{{ iddm }}/{{ idc }}'">Revenir en arriere</button>
            <button type="button" class="btn btn-secondary btn-lg btn-block" onclick="location.href='/etudiant/partie/{{ iddm }}'">Revenir à la piece</button>
        </div>
    </div>

    
{% endblock %}
