{% extends 'base.html.twig' %}

{% block title %}statistique de {{ controller_name }}{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ '/statEtu.css' }}"/>
{% endblock %}

{% block main %}
<style>
    .diabled {
        pointer-events: none;
        cursor: default;
        background-color:rgba(192,192,192, 0.7);
        border-color:rgba(192,192,192, 0.7);
    }
</style>
<script>
	console.log("hello");
	function Changer(id){
	let chaine1="a";
    let chaine2=id.id;
	if (id.value != "" && id.value<21 && id.value>0 ){
	console.log(id.value);
    document.getElementById(chaine1+chaine2).href="/enseignant/changerNote/"+id.id+"/"+id.value;
	document.getElementById(chaine1+chaine2).className = "btn btn-secondary";}
	else {
	document.getElementById(chaine1+chaine2).className = "btn btn-secondary"+" diabled";}
	
	}


 </script>




<h1> classement de la partie </h1>
<div class="stat">
	{% set cpt = '-1' %}
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th scope="col">Nom</th>
        <th scope="col">Prenom</th>
        <th scope="col">Classe</th>
        <th scope="col">Moyenne</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for eleve in listeDevoir %}
      <tr>
        <th> {{ eleve['nom']}} </th>
        <th> {{ eleve['prenom']}} </th>
        <th> {{ eleve['classe']}} </th>
        {% if cpt != eleve['iddm'] %}
         {% set cpt = eleve['iddm']  %}
        <td ROWSPAN={{listenb[eleve['idgr']]}}  ><input type="number" id={{eleve['iddm'] ~"/"~eleve['iddev']}}  class="form-control" onchange="Changer(this)" value={{ eleve['note']}}  min="0" max="20"/></td>
        <td ROWSPAN={{listenb[eleve['idgr']]}}><a id={{"a" ~ eleve['iddm']~"/"~eleve['iddev']}} href="" class="btn btn-secondary" > Modifier</a></td>
		{% endif %}
      </tr>
      {% endfor %}

    </tbody>
  </table>

</div>




{% endblock %}
