{% extends 'base.html.twig' %}

{% block title %}statistique de {{ controller_name }}{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ '/statEtu.css' }}"/>
{% endblock %}

{% block main %}
<h1> classement de la partie </h1>
<div class="stat">

  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th scope="col">Nom</th>
        <th scope="col">Prenom</th>
        <th scope="col">Classe</th>
        <th scope="col">Moyenne</th>
      </tr>
    </thead>
    <tbody>
      {% for eleve in listeDevoir %}
      <tr>
        <td> {{ eleve['nom']}} </td>
        <td> {{ eleve['prenom']}} </td>
        <td> {{ eleve['classe']}} </td>
        <td> {{ eleve['note']}} </td>
      </tr>
      {% endfor %}

    </tbody>
  </table>

</div>

<div class="d-flex flex-row">
  <div class="d-flex flex-column">
    {{ form_start(formPDF) }}
    {{ form_widget(formPDF.pdf) }}
    {{ form_end(formPDF) }}
  </div>

  <div class="d-flex flex-column" style="margin-left:10px;">
    {{ form_start(formCSV) }}
    {{ form_widget(formCSV.csv) }}
    {{ form_end(formCSV) }}
  </div>
</div>

{% endblock %}
