{% extends 'base.html.twig' %}

{% block title %}Creation d'une piece{% endblock %}

{% block javascripts %}
<script>
document.addEventListener("DOMContentLoaded", function(){
let liste = document.getElementsByClassName("id");
for(let i=0;i<liste.length;++i){
    liste[i].addEventListener("click", function(event){
        document.getElementById("form_nbEnigme").value = event.target.innerHTML;
    }, false)
    }    
});

(function(document) {
	'use strict';

	var LightTableFilter = (function(Arr) {

		var _input;

		function _onInputEvent(e) {
            console.log(e.target.getAttribute('data-table'));
			_input = e.target;
			var tables = document.getElementsByClassName(_input.getAttribute('data-table'));
			Arr.forEach.call(tables, function(table) {
				Arr.forEach.call(table.tBodies, function(tbody) {
					Arr.forEach.call(tbody.rows, _filter);
				});
			});
		}

		function _filter(row) {
            console.log(row);
			var text = row.children[5].textContent.toLowerCase(), val = _input.value.toLowerCase();
			row.style.display = text.indexOf(val) === -1 ? 'none' : 'table-row';
		}

		return {
			init: function() {
				var inputs = document.getElementsByClassName('test');
				Arr.forEach.call(inputs, function(input) {
					input.oninput = _onInputEvent;
				});
			}
		};
	})(Array.prototype);

	document.addEventListener('readystatechange', function() {
		if (document.readyState === 'complete') {
			LightTableFilter.init();
		}
	});

})(document);
</script>
{% endblock %}

{% block stylesheets %}

     <link rel="stylesheet" href="{{ asset('enseignant/creaDM.css') }}" />

    <!-- UIkit JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.2/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.2/js/uikit-icons.min.js"></script>

{% endblock %}

{% block main %}

{% for message in app.session.flashbag.get("success") %}
    <div class="alert alert-danger alert-dismissible fade show">
			<p>{{ message }}</p>
	</div>
    {% endfor %}
<div>
<form name="form" method="post" class="chooseGbl">
    
    <div class="form">
        <div hidden>{{ form_widget(form.nbEnigme) }}</div>
        <label for="form_nomvend">Le nombre maximum d’essai pour passer un cadena</label>
        <div>{{ form_widget(form.essaiCadena) }}  </div>
        <label for="form_nomvend">Le nom du devoir</label>
        <div>{{ form_widget(form.nomDM) }} </div>
        <label for="form_nomvend">La date de fermeture du devoir</label>
        <div>{{ form_widget(form.date_created) }} </div>
        <label for="form_nomvend">La matière du devoir</label>
        <div>{{ form_widget(form.idmat) }} </div>
        <label for="form_nomvend">Le mode de génération du groupe</label>
        <div>{{ form_widget(form.type) }} </div>
        <div>{{ form_widget(form.valide) }}</div>
    </div>
    <div class="chooseTab">
   <div class="tab1">
     <label for="form_nomvend">Le nombre d'énigme par salle</label>
        <div uk-filter="target: .js-filter" class="table-responsive">
            <ul class="uk-subnav uk-subnav-pill">
                <li class="uk-active" uk-filter-control=".tag-1"><a class = "id" href="#">1</a></li>
                <li uk-filter-control=".tag-2"><a class = "id" href="#">2</a></li>
                <li uk-filter-control=".tag-3"><a class = "id" href="#">3</a></li>
                <li uk-filter-control=".tag-4"><a class = "id" href="#">4</a></li>
            </ul>
            <div>
            
            <label for="form_nomvend">La liste des salles</label>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Select</th>
                            <th scope="col">Nom</th>
                        </tr>
                    </thead>
                    <tbody class="js-filter">
                        {% set id = -1 %}
                        {% for child in form.idsalle %}
                            {% set id = id + 1 %}
                        
                            {% if l2[id].cpt >= 4 %}
                            <tr class = "tag-1 tag-2 tag-3 tag-4">
                                <td>{{ form_widget(child) }}</td>
                                <td>{{ lsSalle[id].salle.getNomsalle }}</td>
                            </tr>
                            {% else %}
                                {% if l2[id].cpt >= 3 %}
                                    <tr class = "tag-1 tag-2 tag-3 ">
                                        <td>{{ form_widget(child) }}</td>
                                        <td>{{ lsSalle[id].salle.getNomsalle }}</td>
                                    </tr>
                                {% else %}
                                    {% if l2[id].cpt >= 2 %}
                                        <tr class = " tag-1 tag-2 ">
                                            <td>{{ form_widget(child) }}</td>
                                            <td>{{ lsSalle[id].salle.getNomsalle }}</td>
                                        </tr>
                                    {% else %}
                                        {% if l2[id].cpt >= 1 %}
                                            <tr class = "tag-1 ">
                                                <td>{{ form_widget(child) }}</td>
                                                <td>{{ lsSalle[id].salle.getNomsalle }}</td>
                                            </tr>
                                        {% endif %}
                                    {% endif %} background-color: #fff;
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
                </div>
            </div>
        </div>
   
        <div class="tab2">
        <label for="form_nomvend">La liste des énigmes </label>
        <div class="table-responsive ">
            <table class="table table-hover table-enigme">
            
                <thead>
                    <tr>
                        <th scope="col">Select</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Question</th>
                        <th scope="col">Niveau</th>
                        
                    </tr>
                </thead>
                <tbody>
                    {% set id = -1 %}
                    {% for child in form.idenigme %}
                        {% set id = id + 1 %}
                        <tr>
                            <td>{{ form_widget(child) }}</td>
                            <td>{{ lsEnigme[id].getNomenigme }}</td>
                            <td>{{ lsEnigme[id].getQuestion }}</td>
                            <td>{{ lsEnigme[id].getNiveau.getNiveau }}</td>
                            <td hidden>{{ lsEnigme[id].getIdmat.getNommat }}</td>
                            <td hidden>{{ lsEnigme[id].getIdmat }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    </div>
    {{ form_end(form) }}
    


</div>
</div>
    
{% endblock %}
