{% extends 'base.html.twig' %}

{% block title %}{{ title }}
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ '/css/objet.css' }}"/>
{% endblock %}

{% block javascripts %}
    <script language="JavaScript" type="text/javascript" src="{{ asset('JS/jquery.min.js') }}"></script>
    <script type='text/javascript'>
        function previewFile() {
            var preview = document.getElementById('output_image');
            var file = document.querySelector('input[type=file]').files[0];
            var reader = new FileReader();
            reader.addEventListener("load", function() {
                console.log('before preview');
                preview.src = reader.result;
                console.log('after preview');
            }, false);

            if (file) {
                console.log('inside if');
                reader.readAsDataURL(file);
            } else {
                console.log('inside else');
            }
            }
    </script>
{% endblock %}

{% block main %}
    <div class="background" style="max-width: 50rem; margin: 20px">
        <div class="card-header separation">{{ title }}</div>
        <div class="card-body text-secondary">
            {{ form_start(form) }}
                <div class="form-group row">
                    <label for="form_nomvend">Nom de l'Objet</label>
                    {{ form_widget(form.nomobjet) }}
                </div>
                <div class="form-group row">
                    <label for="form_url" style="margin: 10px">Type de l'Objet</label>
                    {{ form_widget(form.type) }}
                </div>
                <div class="form-group row">
                    <label class="label-file" for="form_imageobjet">Image de l'Objet</label>
                    {{ form_widget(form.imageobjet) }}
                </div>
                <img id="output_image" style="max-width:100px; margin:10px;"/>
                <div class="form-group row">
                    {{ form_widget(form.save) }}
                </div>
             {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

