{% extends 'base.html.twig' %}

{% block title %}gestion des objets{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ '/css/objet.css' }}"/>
{% endblock %}

{% block main %}

{{ form_start(form2) }}
<div class="d-flex flex-column marge">
    <div class="marge background">
        <div class="card-header separation">Modifier votre objet</div>
            <div class="card-body text-primary">
            <div class="form-row">
                <div class="form-group col-md-6">
                <label>Nom</label>
                {{ form_widget(form2.nomobjet) }}
                </div>
                <div class="form-group col-md-6">
                <label>Type</label>
                {{ form_widget(form2.type) }}
                <img id="output_image"/>
                </div>
            </div>
            {{ form_widget(form2.modif) }}

            {{ form_end(form2) }}
        </div>
    </div>

    
    {% if obj.getType != "objet" and obj.getType != "cadena" %}
    <div class="marge background">
        <div class="card-header separation">Supprimer des objets liés</div>
        <div class="d-flex flex-row">
            <div class="d-flex flex-column marge">
                {% if lsCat|length > 0 %}
                <center>
                    <div id="tab">
                        {{ form_start(form) }}
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
											<th scope="col">Selectionner</th>
                                            <th scope="col">Nom de l'objet</th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody>

                                        {% set id = -1 %}
                                        {% for child in form.idobjet %}
                                        {% set id = id + 1 %}   
                                            <tr>
												<td>{{ form_widget(child) }}</td>
                                                <td>{{ lsCat[id].nomobjet }}</td>
                                                
                                            </tr>
                                            
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        {{ form_widget(form.save) }}
                        {{ form_end(form) }}
                    </div>
                </center>
                {% else %}
                <h1>Vous n'avez aucun objet</h1>
                {% endif %}
            </div>    
        </div>
        <div class="d-flex flex-column marge">
            <button type="button" class="btn btn-primary btn-lg btn-block" onclick="location.href='/enseignant/objets/addObject/{{ mid }}'">Ajouter un objet à votre objet</button>
        </div>
    </div>
</div>


{% endif %}
{% endblock %}
