{% extends 'base.html.twig' %}

{% block title %}{{ title }}
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ '/css/objet2.css' }}"/>
{% endblock %}

{% block javascripts %}
    <script language="JavaScript" type="text/javascript" src="{{ asset('JS/jquery.min.js') }}"></script>
{% endblock %}

{% block main %}
    <aside>
    {{ form_start(form) }}
    {{ form_widget(form.delete) }}
    {{ form_widget(form.ajout) }}
    {{ form_end(form) }}
    </aside>
    <div class="d-flex flex-row">
        <div class="d-flex flex-column">
        <h1>Les contenants</h1>
        <div class="colonne">
        {% for obj in listObjectTypeContenant %}
            <div class="card text-white bg-primary" style="width: 18rem; margin: 10px;">
                <div class="card-body">
                    <h5 class="card-title">{{ obj.nomobjet }}</h5>
                    <h6 class="card-subtitle mb-2">{{ obj.type }}</h6>
                    <button type="button" class="btn btn-primary btn-lg btn-block" onclick="location.href='/enseignant/objets/addObject/{{ obj.idobjet }}'">Ajouter des contenus</button>
                    <button type="button" class="btn btn-primary btn-lg btn-block" onclick="location.href='/enseignant/objets/update/{{ obj.idobjet }}'">Modifier l'objet</button>
                </div>
            </div>
        {% endfor %}
        </div>
        </div>

        <div class="d-flex flex-column" style="margin-left:5px">
        <h1>Les contenus</h1>
        <div class="colonne">
        {% for obj in listObjectTypeContenu %}
            <div class="card text-white bg-secondary" style="width: 18rem;margin: 10px;">
                <div class="card-body">
                    <h5 class="card-title">{{ obj.nomobjet }}</h5>
                    <h6 class="card-subtitle mb-2">{{ obj.type }}</h6>
                    <button type="button" class="btn btn-secondary btn-lg btn-block" onclick="location.href='/enseignant/objets/addObject/{{ obj.idobjet }}'">Ajouter des objets</button>
                    <button type="button" class="btn btn-secondary btn-lg btn-block" onclick="location.href='/enseignant/objets/update/{{ obj.idobjet }}'">Modifier l'objet</button>
                </div>
            </div>
        {% endfor %}
        </div>
        </div>

        <div class="d-flex flex-column" style="margin-left:5px">
        <h1>Les objets</h1>
        <div class="colonne">
        {% for obj in listObjectTypeObjet %}
            <div class="card text-white bg-success" style="width: 18rem;margin: 10px;">
                <div class="card-body">
                    <h5 class="card-title">{{ obj.nomobjet }}</h5>
                    <h6 class="card-subtitle mb-2">{{ obj.type }}</h6>
                    <button type="button" class="btn btn-success btn-lg btn-block" onclick="location.href='/enseignant/objets/update/{{ obj.idobjet }}'">Modifier l'objet</button>
                </div>
            </div>
        {% endfor %}
        </div>
        </div>

        <div class="d-flex flex-column" style="margin-left:5px">
        <h1>Les cadenas</h1>
        <div class="colonne">
        {% for obj in listObjectTypeCadena %}
            <div class="card text-white bg-danger" style="width: 18rem;margin: 10px;">
                <div class="card-body">
                    <h5 class="card-title">{{ obj.nomobjet }}</h5>
                    <h6 class="card-subtitle mb-2">{{ obj.type }}</h6>
                    <button type="button" class="btn btn-danger btn-lg btn-block" onclick="location.href='/enseignant/objets/update/{{ obj.idobjet }}'">Modifier l'objet</button>
                </div>
            </div>
        {% endfor %}
        </div>
        </div>
    </div>
    
{% endblock %}

